# VPS /etc/lianhuan.env
# 启动时会把管理员邮箱/密码同步进数据库，改完后执行：systemctl restart lianhuan-web
LIANHUAN_SECRET=请换成随机长字符串
LIANHUAN_ADMIN_EMAIL=你的管理员邮箱
LIANHUAN_ADMIN_PASSWORD=强密码
LIANHUAN_PORT=8092
# TRONGRID_API_KEY=
